importFrom("methods", "initialize")
importClassesFrom("biomaRt", "Mart")

export(gdPlot, DisplayPars, geneRegionBiomart, geneBiomart,
       makeLegend,makeGene, makeGeneRegion, makeTranscript ,makeExonArray, makeGeneModel, makeBaseTrack, makeRectangleOverlay, makeTextOverlay, makeSegmentation, makeTitle, makeGenericArray, makeIdeogram, makeGenomeAxis)

exportClasses(DisplayPars, GenericArray, MappedRead, BaseTrack, Legend,
              Title, Gene, Transcript, GeneModel,GenomeAxis, ExonArray,
              GeneRegion, TranscriptRegion, Ideogram, Segmentation, gdObject,
              Overlay, RectangleOverlay, TextOverlay, AnnotationTrack)
exportMethods(initialize, show, setPar, getPar, drawGD, showDisplayOptions)
