importFrom("methods", "initialize")
importClassesFrom("biomaRt", "Mart")

export(gdPlot, DisplayPars, geneRegionBiomart, geneBiomart,
       makeLegend,makeGene, makeGeneRegion, makeTranscript,
       makeExonArray, makeGeneModel, makeBaseTrack,
       makeRectangleOverlay, makeTextOverlay, makeSegmentation,
       makeSmoothing, makeTitle, makeGenericArray, makeIdeogram,
       makeGenomeAxis, makeAnnotationTrack)

exportClasses(DisplayPars, GenericArray, MappedRead, BaseTrack, Legend,
              Title, Gene, Transcript, GeneModel,GenomeAxis, ExonArray,
              GeneRegion, TranscriptRegion, Ideogram, gdObject,
              Overlay, RectangleOverlay, TextOverlay, AnnotationTrack,
              Segmentation, TrackOverlay, Smoothing, ImplementsTrackOverlay)

exportMethods(initialize, show, setPar, getPar, drawGD, showDisplayOptions)
